.vscode/**
.vscode-test/**
.vscode-test-web/**
test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
node_modules/**
!node_modules/vscode
run-lint.js
setMain.js
jest.config.js
nodemon.json
dist/**
!dist/extension.js
!dist/web/extension.js
tsconfig.json
tsconfig.web.json
