.vscode/**
.vscode-test/**
test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
node_modules/**
!node_modules/vscode
run-lint.js
setMain.js
dist/**
!dist/extension.js
!dist/web/extension.js
